body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f9f9f9;
}

.container {
    text-align: center;
}

#message {
    font-size: 20px;
    cursor: pointer;
    color: #e44d26;
}

#rose {
    width: 150px; /* Set the width to your preference for mobile devices */
    height: auto;
    cursor: pointer;
}

#valentineMessage {
    font-size: 24px;
    font-weight: bold;
    color: #e44d26;
}

.hidden {
    display: none;
}
