body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f9f9f9;
}

.container {
    text-align: center;
}

#message {
    font-size: 20px;
    cursor: pointer;
    color: #e44d26;
}

#rose {
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

#valentineMessage {
    font-size: 24px;
    font-weight: bold;
    color: #e44d26;
}

.hidden {
    display: none;
}

/* Media query for screens smaller than 600px (typical mobile phones) */
@media (max-width: 600px) {
    #rose {
        max-width: 80%; /* Adjust the width for smaller screens */
    }
}
